.box {
    margin: 0 auto;
    padding: 10px 20px;
    width: 80%;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 3px #ccc;
}

.profiles {
    /* background-color: yellow; */
    width: 100%;
}

@media (min-width: 600px) {
    .box {
        width: 500px;
    }
}