*{
    box-sizing: border-box;
}

.UserProfile {
    position: relative;
    height: 75px;
    margin: 10px 0;
    /* background-color: violet; */
}

img {
    position: absolute;
    width: 75px;
    left: 0;
    margin-left: 10px;
    border-radius: 10px;
    /* float: left; */
}

.Info {
    position: absolute;
    /* float: left; */
    left: 100px;
    text-align: left;
    height: inherit;
    width: calc(100% - 105px);
    margin-left: 5px;
    padding: 2px;
    vertical-align: top;
    /* background-color: lightskyblue; */
}

.Name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 3px 0;
}

.Details {
    color: gray;
    margin: 3px 0;
}