.header {
    background-color: royalblue;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: white;
}

input {
    height: 30px;
}
input:focus {
    outline: none;
}