.profile_box {
    position: relative;
    margin: 20px auto;
    padding: 0;
    width: 80%;
    height: 85vh;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    /* background-color: red; */
}

.back-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    /* color: white; */
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}
.back-btn:hover {
    background: rgba(0, 0, 0, .3);
}
.back-btn:hover .arrow-icon{
    transform: translateX(-3px);
}
.back-btn:focus {
    outline: none;
}

.profile_cover {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url('https://via.placeholder.com/500x200');
}

.profile_info {
    position: relative;
    height: calc(85vh - 200px);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile_info > h1 {
    position: absolute;
    margin: 0;
    left: 40%;
    top: 10px;
}

.profile_info > h4 {
    position: absolute;
    color: gray;
    margin: 0;
    left: 40%;
    top: 60px;
}

.profile_info > p {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 90%;
    margin-top: 20px;
    font-size: 18px;
    color:gray;
}

.img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: calc(200px - 30px);
    left: 8%; /*calc(50% - 60px);*/
    /* background-color: maroon; */
}

.img > img {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    .profile_box {
        width: 500px;
    }
}

@media (max-width: 500px){

}